/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 20px auto;
    padding: 20px;
}

/* Barra de navegación */
.navbar {
    background-color: #007BFF;
}

.navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: white;
}

/* Carrusel de imágenes */
.carousel-item img {
    max-height: 400px;
    width: 100%;
}

/* Sección "Nuestro Proyecto" */
h2 {
    color: #007BFF;
}

/* Formulario de contacto */
form {
    margin-top: 20px;
}

/* Zona de Redes Sociales */
h2 {
    color: #007BFF;
}

/* Estilo para íconos de redes sociales (agrega clases de íconos según la fuente de íconos que utilices) */
.icon-facebook {
    color: #1877F2;
}

.icon-twitter {
    color: #1DA1F2;
}

.icon-instagram {
    color: #E4405F;
}
